*{
    margin: 0;
    padding: 0;
 
    font-family: 'Courier New', Courier, monospace;
}
.container{
    width: 100%;
    height: 100vh;
    position: relative; 
   
}
.navbar{
    position: relative;
    
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
   
}
.navbar .logo{
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline;
 }
 .navbar ul{
     justify-content: space-between;
     position: relative;
     align-items: center;
     display: flex;
     
  
  
   

 }
 .navbar ul li{
     list-style: none;

 }
 .navbar ul li a{
     display: block;
     color: rgb(134, 13, 13);
     font-weight: 400;
     margin-left: 40px;
     text-decoration: none;

 }
 .content{
     align-items: center;
     position: relative;
     display: flex;
     width: 100%;
     justify-content: space-between;
 }
 .content .text{
     position: relative;
     max-width: 600px;
     margin: 60px 15px;
     left:35px;


}
.content .text h1{
    color: #017743;
    font-size: 60px;
    font-weight: 900;
    line-height: normal;
    margin: 20px 10px;
    text-transform: uppercase;
    

}
.content .text p{
    margin: 20px 20px;
    font-size: 20px;
    color: rgb(4, 37, 37);
}
.content button{
    color: chartreuse
    border: 3px solide #017743;
    border-radius: 25px;
    background: #bbb;
    display: inline-block;
    padding: 8px 20px;
    margin-left:20px;
    font-size:20px;

}
.content .imgBox{
    width:600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;

}
.circle{
   position: absolute;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
   background: #017743;
   clip-path: circle(600px at right 800px);
}
@media (max-width:991px){
    .navbar{
        padding: 20px;
    }
    .navbar .logo{
        max-width: 60px;
    }
    .navbar ul{
        display: none;
    }
    .toggle{
        position: relative;
        width: 30px;
        height:30px;
        background: url(images/img1\ \(1\).png);
        background-size: 30px;
        background-position: center;
        filter:invert(1);
        z-index: 10;

        

    }
    .toggle .active{
        background: url(images/close.png);
        background-size: 30px;
        background-position: center;

        
    }
    .navbar ul.navigation.active{
        position: fixed;
        top:0;
        left: 0;
        width:100%;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        z-index: 10;
    }
    
}